/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
}

/* Container */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #007BFF;
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar ul li a:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* Main content styles */
.main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

header h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

.logout-button {
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
    background-color: #ff4c33;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Content */
.content {
    margin-top: 20px;
}
